<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css удаляет различия между отображением
    элементов в разных браузерах по умолчанию
    Подробнее: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css используется для написания своих стилей
  -->
  <link rel="stylesheet" href="/css/application.css">

  <title></title>
</head>

<body>
{{{body}}}
</body>
</html>
